<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myousic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ActivityHome"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:launchMode" />
        <activity
            android:name=".activities.ActivityJoinParty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivityQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivitySearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivityPartyAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ActivityOptions"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.ActivityBackgroundPlaylist" />
        <activity android:name=".activities.ActivityPartyName" />
        <activity android:name=".activities.ActivityBlacklist" />
        <activity android:name=".activities.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>